<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/all.css}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/language.js}"></script>
    <script type="text/javascript" th:src="@{/js/settings.js}"></script>
    <title th:text="*{title}"></title>
</head>

<nav th:fragment="menubar(rootPath)" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/public/blogs/list/}" th:text="#{nav.home}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/blogs/}" th:text="#{nav.create.blog}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/public/blogs/list/}" th:text="#{nav.list}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/public/users/register}" th:text="#{nav.register}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/public/favorite}" th:text="#{nav.favorites}"></a>
                    </li>
                    <li th:replace="this :: language(${rootPath})"></li>

                    <div sec:authorize="hasRole('ADMIN')">
                        <li th:replace="this :: settings"></li>
                    </div>
                </div>
            </ul>
            <div sec:authorize="isAuthenticated()">
                <i class="me-2 justify-content-center">Sveiki, <span
                        sec:authentication="principal.fullName"></span></i>
            </div>
            <form class="d-flex" method="GET" th:action="@{/public/blog-finder}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="subject">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div sec:authorize="!isAuthenticated()">
                <a class="btn btn-success" aria-current="page" th:href="@{/templates/login}"
                   th:text="#{nav.login}"></a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="btn btn-success" aria-current="page" th:href="@{/logout}"
                   th:text="#{nav.logout}"></a>
            </div>

        </div>
    </div>
</nav>

<nav th:fragment="favoriteMenuBar(rootPath)" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/blogs/list/}" th:text="#{nav.home}"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarFavoriteNavAltMarkup"
                aria-controls="navbarFavoriteNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarFavoriteNavAltMarkup">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <div class="navbar-nav">
                    <a class="nav-link" th:href="@{/blogs/}" th:text="#{nav.create.blog}"></a>
                    <a class="nav-link" th:href="@{/public/blogs/list/}" th:text="#{nav.list}"></a>
                    <a class="nav-link" th:href="@{/public/users/register}" th:text="#{nav.register}"></a>
                    <a class="nav-link" th:href="@{/public/favorite}" th:text="#{nav.favorites}"></a>
                    <li th:replace="this :: language(${rootPath})"></li>

                    <div sec:authorize="hasRole('ADMIN')">
                        <li th:replace="this :: settings"></li>
                    </div>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <form method="POST" th:action="@{/public/favorite}">
                        <button class="btn btn-secondary" type="submit"
                                th:text="#{nav.clear-favorite-button}"></button>
                    </form>
                </div>
            </ul>
            <div sec:authorize="isAuthenticated()">
                <i class="me-2 justify-content-center">Sveiki, <span
                        sec:authentication="principal.fullName"></span></i>
            </div>
            <form class="d-flex" method="GET" th:action="@{/public/blog-finder}">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="subject">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <div sec:authorize="!isAuthenticated()">
                <a class="btn btn-success" aria-current="page" th:href="@{/templates/login}"
                   th:text="#{nav.login}"></a>
            </div>
            <div sec:authorize="isAuthenticated()">
                <a class="btn btn-success" aria-current="page" th:href="@{/logout}"
                   th:text="#{nav.logout}"></a>
            </div>
        </div>
    </div>
</nav>


<footer th:fragment="footer" class="mt-auto">
    <p>Copyright © 2022 Dominykas<br>
</footer>


<li th:fragment="language(rootPath)" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       id="navbarLangDropdownMenuLink"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false"
       th:text="#{lang.option}">
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarLangDropdownMenuLink">
        <li><a class="dropdown-item" th:href="'/' + *{rootPath} + '?lang=lt'">Lietuvių</a></li>
        <li><a class="dropdown-item" th:href="'/' + *{rootPath} + '?lang=en'">English</a></li>
    </ul>
</li>

<li th:fragment="settings" class="nav-item dropdown">
    <a class="nav-link dropdown-toggle"
       href="#"
       id="navbarSettingsDropdownMenuLink"
       role="button"
       data-bs-toggle="dropdown"
       aria-expanded="false"
       th:text="'Settings'">
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarSettingsDropdownMenuLink">
        <li><a class="dropdown-item" th:href="'http://localhost:8888/users'">Users</a></li>
        <li><a class="dropdown-item" th:href="'http://localhost:8888/users'">Roles</a></li>
    </ul>
</li>