<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="fragments/layout :: head(#{view.blog})"></head>

<body class="d-flex flex-column min-vh-100">
<div class="menu-bar">
    <div th:object="${blog}" th:replace="fragments/layout :: menubar(rootPath='public/blogs/'+${blog.getBlogId()}+'/view')"></div>
</div>

<div class="blog-view container">
    <div th:object="${blog}">
        <b>
            <h2 th:text="${blog.getSubject()}"></h2>
        </b>
        <br>
        <p th:text="${blog.getDescription()}"></p>
    </div>
    <form method="GET" th:action="@{/comments}">
        <input type="hidden" name="blogId" th:value="${blog.getBlogId()}">
        <button class="btn btn-link btn-comment" th:text="#{comment.add}"></button>
    </form>
    <br>
    <br>
    <i th:text="#{comment.comments}"></i>
    <div th:object="${comments}">
        <table class="table table-light">
            <thead>
            <tr>
                <th th:text="#{comments.table.no}"></th>
                <th th:text="#{comments.table.created}"></th>
                <th th:text="#{comments.table.author}"></th>
                <th th:text="#{comments.table.commentText}"></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment,iterator: ${comments}">
                <td th:text="${iterator.index+1}"></td>
                <td th:text="${comment.getCreateDate()}"></td>
                <td th:text="${comment.getAuthor()}"></td>
                <td th:text="${comment.getText()}"></td>
                <td>
                    <form method="POST" th:action="@{/comments/delete}">
                        <input type="hidden" name="commentId" th:value="${comment.getCommentId()}">
                        <button class="btn"
                                th:onclick="return confirm('Are you sure you want to delete this item?')">
                            <i class="fa-solid fa-trash-can"></i>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>

    <a th:href="@{/public/blogs/list}" class="btn btn-primary" th:text="#{view.back-button}"></a>
    <div class="footer">
        <div th:replace="fragments/layout :: footer"></div>
    </div>
</div>
</body>
</html>