<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="fragments/layout :: head(#{update.blog})"></head>

<body class="d-flex flex-column min-vh-100">
<div class="menu-bar">
    <div th:object="${blog}" th:replace="fragments/layout :: menubar(rootPath='blogs/update?blogId='+${blog.getBlogId()}+'&')"></div>
</div>
<div class="blog-update container">
    <!--    <h3 th:text="#{update.blog}"></h3>-->
    <form action="" method="post" th:object="${blog}" th:action="@{/blogs/update}">
        <input type="hidden" name="blogId" th:value="${blog.getBlogId()}">
        <div class="form-floating">
        <textarea
                class="form-control"
                type="text"
                placeholder="please enter subject of Blog entry"
                rows="2"
                cols="40"
                id="floatingSubjectarea"
                th:field="*{subject}"
                style="height: 50%; width: 50%"
        ></textarea>
            <label for="floatingSubjectarea" th:text="#{update.subject}"></label>
            <br>
            <br>
        </div>
        <div class="form-floating">
        <textarea
                class="form-control"
                type="text"
                placeholder="please enter description of Blog entry"
                rows="20"
                cols="60"
                id="floatingTextarea"
                th:field="*{description}"
                style="height: 50%; width: 50%"
        ></textarea>
            <label for="floatingTextarea" th:text="#{update.description}"></label>
        </div>
        <br>
        <br>
        <button type="submit" class="btn btn-primary" th:text="#{update.update-button}"></button>
        <a th:href="@{/public/blogs/list}" class="btn btn-primary" th:text="#{update.back-button}"></a>
        <br><br>
        <div th:text="${message}"></div>
    </form>
    <div class="footer">
        <div th:replace="fragments/layout :: footer"></div>
    </div>
</div>
</body>
</html>