<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head th:replace="fragments/layout :: head(#{blogs.title})"></head>
<body>

<div class="grid-container">
    <div class="menu-bar">
        <div th:replace="fragments/layout :: favoriteMenuBar(rootPath='public/favorite')"></div>
    </div>
    <div class="content">
        <div class="blog-cards">
            <div th:each="favoriteItem: ${favoriteSession.blogItems}">
                <div class="card text-dark bg-light mb-3 zoom"
                     style="max-width: 18rem;max-height: 22rem;min-height: 22rem;">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a th:with="subject=${favoriteItem.blogDto.getSubject()}"
                               th:href="@{/blogs/{blogId}/view(blogId=${favoriteItem.blogDto.getBlogId()})}"
                               th:text="${subject.length() > 40} ? ${subject.substring(0, 40)} + ' ...' : ${subject}"
                            >
                            </a>
                        </h5>
                        <p class="card-text"
                           th:with="description=${favoriteItem.blogDto.getDescription()}"
                           th:text="${description.length() > 320} ? ${description.substring(0, 320)} + ' ...' : ${description}"></p>
                        <div class="card-bottom absolute">
                            <div class="left-side">
                                <div class="create-date" style="justify-self: start;">
                                    <i th:text="${favoriteItem.blogDto.getAuthor()}"></i>
                                </div>
                            </div>
                            <div class="center">
                                <form method="POST"
                                      th:action="@{/public/favorite/{blogId}/remove(blogId=${favoriteItem.blogDto.getBlogId()})}">
                                    <button class="btn btn-danger">
                                        <i class="fa-solid fa-thumbs-down"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="right-side">
                                <i th:text="${favoriteItem.blogDto.getCreateDate()}"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer text-center">
        <div th:replace="fragments/layout :: footer"></div>
    </div>
</div>
</body>
</html>

