<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/all.css">
    <title>Users list</title>
</head>
<body>
<i th:text="'List of Users'"></i>
<div th:object="${userRoleList}">
    <table class="table table-light">
        <thead>
        <tr>
            <th th:text="'No'"></th>
            <th th:text="'Name'"></th>
            <th th:text="'Surname'"></th>
            <th th:text="'Email'"></th>
            <th th:text="'Phone numeber'"></th>
            <th th:text="'Zip code'"></th>
            <th th:text="'Roles'"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="userRole, iterator: ${userRoleList}">
            <td th:text="${iterator.index+1}"></td>
            <td th:text="${userRole.getUser().getName()}"></td>
            <td th:text="${userRole.getUser().getSurname()}"></td>
            <td th:text="${userRole.getUser().getEmail()}"></td>
            <td th:text="${userRole.getUser().getPhoneNumber()}"></td>
            <td th:text="${userRole.getUser().getZipCode()}"></td>
            <td th:text="${userRole.getAuthorities()}"></td>
            <td>

                <form method="POST" th:action="@{/users/delete}">
                    <input type="hidden" name="email" th:value="${userRole.getUser().getEmail()}">
                    <button class="btn"
                            th:onclick="return confirm('Are you sure you want to delete this item?')">
                        <i class="fa-solid fa-trash-can"></i>
                    </button>
                </form>

                <form method="GET" th:action="@{/users/update}">
                    <input type="hidden" name="email" th:value="${userRole.getUser().getEmail()}">
                    <button class="btn">
                        <i class="fa-solid fa-user-pen"></i>
                    </button>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<a th:href="@{/public/blogs/list}" class="btn btn-primary" th:text="#{view.back-button}"></a>
</body>
</html>