<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>List of Blogs</title>
</head>
<body>
<div th:if="${blogList.isEmpty()}">List is Empty</div>
<div th:unless="${blogList.isEmpty()}">
    <table>
        <thead>
        <tr>
            <th>Subject</th>
            <th>Description</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="blog: ${blogList}">
            <td><a th:href="@{'/blogs/update?id=' + ${blog.getUuid()}}" th:text="${blog.getSubject()}"></a></td>
            <td th:text="${blog.getDescription()}"></td>
            <td><a th:href="@{'/blogs/delete?id=' + ${blog.getUuid()}}" th:text="DELETE"></a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>