<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Blog</title>
</head>
<body>
<h3>Create Blog:</h3>
<form action="" method="post">
    <label>Subject:</label><br>
    <input type="text" placeholder="please enter subject of Blog entry" size="53" name="subject">
    <br>
    <br>
    <label>Description:</label><br>
    <textarea type="text" placeholder="please enter description of Blog entry" rows="10" cols="50" name="description"></textarea>
    <br>
    <br>
    <button type="submit">Create</button>
</form>
</body>
</html>