<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Create Blog</title>
</head>
<body>
<h3>Create Blog:</h3>
<form action="" method="post" th:object="${blog}">
    <label>Subject:</label><br>
    <input type="text" placeholder="please enter subject of Blog entry" size="50" th:field="*{subject}">
    <br>
    <br>
    <label>Description:</label><br>
    <textarea type="text" placeholder="please enter description of Blog entry" rows="10" cols="80"
              th:field="*{description}"></textarea>
    <br>
    <br>
    <button type="submit" class="btn btn-primary">Create</button>
    <a th:href="@{/blogs/list}" class="btn btn-primary">Back</a>
    <br><br>
    <div th:text="${message}"></div>
</form>
</body>
</html>