<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/all.css">
    <title>List of Blogs 2</title>
</head>
<body>
<div th:if="${#lists.isEmpty(blogPage)}">List is Empty</div>
<div th:unless="${#lists.isEmpty(blogPage)}">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">My Blog</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" aria-current="page" href="#">New Blog</a>
                    <a class="nav-link" href="#">List Blogs</a>
                    <a class="nav-link" href="#">Register</a>
                    <a class="nav-link" href="#">Cart</a>
                    <a class="nav-link justify-content-right" href="#">Languages</a>
                </div>
            </div>
        </div>
    </nav>

    <br><br>

    <div class="container">
        <div class="filter">
            <div class="filter-header">
                <h4>FILTER</h4>
            </div>
            <div class="filter-content">
                <p>
                    <a th:href="@{/blogs/list(sort='subject,ASC')}">
                        Subject
                        <i class="fa-solid fa-arrow-down-a-z"
                           th:if="${blogPage.sort.getOrderFor('subject') ne null}"></i>
                    </a>
                </p>
                <p>
                    <a th:href="@{/blogs/list(sort='createDate,ASC')}">
                        Created
                        <i class="fa-solid fa-arrow-down-1-9"
                           th:if="${blogPage.sort.getOrderFor('createDate') ne null}"></i>
                    </a>
                </p>
                <p>
                    <a th:href="@{/blogs/list(sort='author,ASC')}">
                        Author
                        <i class="fa-solid fa-arrow-down-a-z"
                           th:if="${blogPage.sort.getOrderFor('author') ne null}"></i>
                    </a>
                </p>
            </div>
        </div>
        <div class="content">
            <div th:each="blog: ${blogPage}">
                <div class="box zoom">
                    <div class="box-header">
                        <div class="subj">
                            <p><a th:href="@{/blogs/{blogId}/update(blogId=${blog.getBlogId()})}"
                                  th:text="${blog.getSubject()}"></a></p>
                        </div>
                        <div class="create-date">
                            <p th:text="${blog.getCreateDate()}"></p>
                            <i th:text="${blog.getAuthor()}"></i>
                        </div>
                    </div>
                    <br>
                    <i th:text="${blog.getDescription()}"></i>
                    <br>
                    <div class="actions">
                        <div class="edit">
                            <i><a th:href="@{/blogs/{blogId}/update(blogId=${blog.getBlogId()})}"
                                  th:text="EDIT"></a></i>
                        </div>
                        <div class="delete">
                            <i><a th:href="@{/blogs/{blogId}/delete(blogId=${blog.getBlogId()})}"
                                  th:text="DELETE"></a></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <span class="d-flex justify-content-center" th:text="'Total elements: ' + ${blogPage.totalElements}"></span><br>
    <!--    <span th:text="'Total pages: ' + ${blogPage.totalPages}"></span>-->

    <nav class="d-flex justify-content-center">
        <ul class="pagination">
            <li class="page-item"
                th:classappend="${blogPage.hasPrevious() ? '' : 'disabled'}"
            >
                <a class="page-link" th:href="@{/blogs/list(page=${blogPage.getNumber()} -1)}" th:text="Previous"></a>
            </li>
            <li class="page-item"
                th:each="pageNumber: ${#numbers.sequence(0, blogPage.totalPages - 1)}"
                th:classappend="${pageNumber == blogPage.number ? 'active' : ''}"
            >
                <a class="page-link" th:href="@{/blogs/list(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
            </li>
            <li class="page-item"
                th:classappend="${blogPage.hasNext() ? '' : 'disabled'}"
            >
                <a class="page-link" th:href="@{/blogs/list(page=${blogPage.getNumber()} +1)}" th:text="Next"></a>
            </li>
        </ul>
    </nav>

    <br><br>
    <div class="footer">
        <footer>
            <p>Copyright © 2022 Dominykas<br>
        </footer>
    </div>
</div>
</body>
</html>

