.container {
    width: 95%;
}

.content {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 1em;
}

div.box{
    border: 1px solid black;
}

.zoom {
    transition: transform 0.5s;
    cursor: pointer;
}

.zoom:hover {
    transform: scale(1.05);
    opacity: 1;
    filter: grayscale(100);
}