.menu-bar { grid-area: menu-area; }
.content { grid-area: content-area; }
.total-elements { grid-area: total-elements-area; }
.page-bar { grid-area: page-bar-area; }
.footer { grid-area: footer-area; }

.grid-container {
    display: grid;
    grid-template-areas:
        'menu-area menu-area menu-area menu-area menu-area menu-area'
        'filter-area filter-area content-area content-area content-area content-area'
        'total-elements-area total-elements-area total-elements-area total-elements-area total-elements-area total-elements-area'
        'page-bar-area page-bar-area page-bar-area page-bar-area page-bar-area page-bar-area'
        'footer-area footer-area footer-area footer-area footer-area footer-area';

    gap: 10px;
    padding: 10px;
}

.grid-container > div {
    text-align: center;
    padding: 10px 0;
    font-size: 15px;
}

.content {
    display: grid;
    grid-template-columns: 1fr 18fr;
    grid-gap: 3em;
    /*padding: 2px;*/
}

.content > div {
    text-align: center;
}

.blog-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 1em;
    grid-auto-columns: 100px;
}

.zoom {
    transition: transform 0.5s;
    /*cursor: pointer;*/
}

.zoom:hover {
    transform: scale(1.1);
    opacity: 1;
    /*filter: grayscale(100);*/
}

.buttons {
    display: grid;
    grid-template-columns: 8em 8em;
    grid-gap: 2px;
}

.card-bottom {
    display: grid;
    grid-template-columns: 10em 4em 10em;
    font-size: 10px;
}

div.absolute.buttons {
    position: absolute;
    top: 16em;

}

div.absolute.card-bottom {
    position: absolute;
    top: 30em;

}

.alert {
    cursor: pointer;
}

button {
    border: none;
}

.btn-xl {
    font-size: 14px;
    width:100%;
}
a {
    text-decoration: none;
    color: #626060;
}

.btn-logout {
    grid-gap: 5px;
}

.btn-comment {
    font-size: 10px;
}