<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title th:text="#{view.blog}"></title>
</head>
<body>
<div class="blog-view container">
    <div th:object="${blog}">
        <b>
            <h2 th:text="${blog.getSubject()}"></h2>
        </b>
        <br>
        <p th:text="${blog.getDescription()}"></p>
    </div>
    <form method="GET" th:action="@{/comments}">
        <input type="hidden" name="blogId" th:value="${blog.getBlogId()}">
        <button class="btn btn-link btn-comment" th:text="#{comment.add}"></button>
    </form>
    <br>
    <br>
    <i th:text="#{comment.comments}"></i>
    <div th:object="${comments}">
        <table class="table table-light">
            <thead>
            <tr>
                <th th:text="#{comments.table.no}"></th>
                <th th:text="#{comments.table.created}"></th>
                <th th:text="#{comments.table.author}"></th>
                <th th:text="#{comments.table.commentText}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="comment,iterator: ${comments}">
                <td th:text="${iterator.index+1}"></td>
                <td th:text="${comment.getCreateDate()}"></td>
                <td th:text="${comment.getAuthor()}"></td>
                <td th:text="${comment.getText()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <br>
    <br>

    <a th:href="@{/public/blogs/list}" class="btn btn-primary" th:text="#{view.back-button}"></a>

</div>
</body>
</html>