<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">

<head th:replace="fragments/layout :: head(#{blogs.title})"></head>

<body>
<div class="alert alert-success" th:if="${messageSuccess ne null}">
    <span th:text="#{${messageSuccess}}" class="closebtn"
          onclick="this.parentElement.style.display='none';"></span>
</div>
<div class="alert alert-danger" th:if="${messageError ne null}">
    <span th:text="#{${messageError}}" class="closebtn"
          onclick="this.parentElement.style.display='none';"></span>
</div>

<div>
    <div class="grid-container">
        <div class="menu-bar">
            <div th:replace="fragments/layout :: menubar(rootPath='public/blogs/list')"></div>
        </div>
        <div th:with="urlRootPath=${#httpServletRequest.requestURI}">
        <div class="content" th:if="${blogPage.hasContent()}">
            <div class="filter">
                <div class="filter-header">
                    <h4 th:text="#{filter.header}"></h4>
                </div>
                <div class="filter-content">
                    <p>
                        <a class="btn btn-light"
                           th:with="direction=${blogPage.sort.getOrderFor('createDate')?.direction}"
                           th:href="@{/public/blogs/list(sort='createDate,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} )}">
                            <span th:text="#{filter.created}"></span>
                            <i class="fa-solid"
                               th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-9-1' : 'fa-arrow-up-1-9'}"
                               th:if="${direction ne null}"></i>
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-light"
                           th:with=" direction=${blogPage.sort.getOrderFor('subject')?.direction}"
                           th:href="@{/public/blogs/list(sort='subject,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'}+ ',ignorecase' )}">
                            <span th:text="#{filter.subject}"></span>
                            <i class="fa-solid"
                               th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-z-a' : 'fa-arrow-up-a-z'}"
                               th:if="${direction ne null}"></i>
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-light"
                           th:with="direction=${blogPage.sort.getOrderFor('author')?.direction}"
                           th:href="@{/public/blogs/list(sort='author,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'}+ ',ignorecase' )}">
                            <span th:text="#{filter.author}"></span>
                            <i class="fa-solid"
                               th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-z-a' : 'fa-arrow-up-a-z'}"
                               th:if="${direction ne null}"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="blog-cards">
                <div th:each="blog: ${blogPage}">
                    <div class="card text-dark bg-light mb-3 zoom"
                         style="max-width: 18rem;max-height: 22rem;min-height: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i>
                                    <a th:with="subject=${blog.getSubject()}"
                                       th:href="@{/public/blogs/{blogId}/view(blogId=${blog.getBlogId()})}"
                                       th:text="${subject.length() > 40} ? ${subject.substring(0, 40)} + ' ...' : ${subject}"
                                    >
                                    </a>
                                    <hr>
                                </i>
                            </h5>
                            <div sec:authorize="not hasRole('ADMIN')">
                                <p class="card-text"
                                   th:with="description=${blog.getDescription()}"
                                   th:text="${description.length() > 350} ? ${description.substring(0, 350)} + ' ...' : ${description}">
                                </p>
                            </div>
                            <div sec:authorize="hasRole('ADMIN')">
                                <p class="card-text"
                                   th:with="description=${blog.getDescription()}"
                                   th:text="${description.length() > 240} ? ${description.substring(0, 240)} + ' ...' : ${description}">
                                </p>
                            </div>

                            <div sec:authorize="hasRole('ADMIN')" class="buttons absolute">

                                <form method="GET" th:action="@{/blogs/update}">
                                    <input type="hidden" name="blogId" th:value="${blog.getBlogId()}">
                                    <button class="btn btn-primary btn-xl" th:text="#{blogs.edit-button}"></button>
                                </form>

                                <form method="POST" th:action="@{/blogs/delete}">
                                    <input type="hidden" name="blogId" th:value="${blog.getBlogId()}">
                                    <button class="btn btn-danger btn-xl" th:text="#{blogs.delete-button}"
                                            th:onclick="return confirm('Are you sure you want to delete this item?')"></button>
                                </form>
                            </div>

                            <div class="card-bottom absolute">

                                <div class="left-side">
                                    <div class="create-date" style="justify-self: start;">
                                        <i th:text="${blog.getUserDto().getFullName()}"></i>
                                        <p th:text="${blog.getCreateDate()}"></p>
                                    </div>
                                </div>

                                <div class="center">
                                    <form method="POST"
                                          th:action="@{/public/favorite/{blogId}(blogId=${blog.getBlogId()})}">
                                        <button class="btn btn-success">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                        </button>
                                    </form>
                                </div>

                                <div class="right-side">
                                    <i th:text="#{comments.totalComments} + ': ' + ${blog.getComments().size()}"></i>
                                    <br>
                                    <form method="GET" th:action="@{/comments}">
                                        <input type="hidden" name="blogId" th:value="${blog.getBlogId()}">
                                        <button class="btn btn-link btn-comment" th:text="#{comment.add}"></button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="total-elements">
            <h2 class="d-flex justify-content-center" th:if="${not blogPage.hasContent()}"
                th:text="'List is Empty'"></h2>
            <p class="d-flex justify-content-center" th:text="'Total elements: ' + ${blogPage.totalElements}"></p>
            <br>
        </div>

        <div th:if="${blogPage.hasContent()}" class="page-bar">
            <nav class="pages d-flex justify-content-center">
                <ul class="pagination"
                    th:with="
                    orderParam=${blogPage.sort.iterator().hasNext() ? blogPage.sort.iterator().next : null},
                    sortParam=${orderParam ne null ? orderParam.property + ',' + orderParam.direction + ',ignorecase' : null}">
                    <li class="page-item"
                        th:classappend="${blogPage.hasPrevious() ? '' : 'disabled'}">
                        <a class="page-link"
                           th:href="@{*{urlRootPath}(page=${blogPage.number} - 1,sort=${sortParam})}"
                           th:text="Previous"
                        ></a>
                    </li>

                    <li class="page-item"
                        th:each="pageNumber: ${#numbers.sequence(0, blogPage.totalPages - 1)}"
                        th:classappend="${pageNumber == blogPage.number ? 'active' : ''}">
                        <a class="page-link"
                           th:href="@{*{urlRootPath}(page=${pageNumber},sort=${sortParam})}"
                           th:text="${pageNumber + 1}"></a>
                    </li>

                    <li class="page-item"
                        th:classappend="${!blogPage.hasNext()} ? 'disabled'"
                    >
                        <a class="page-link"
                           th:href="@{*{urlRootPath}(page=${blogPage.number} + 1,sort=${sortParam})}"
                           th:text="Next"
                        ></a>
                    </li>
                </ul>
            </nav>
        </div>
        <br>
        <div class="footer">
            <div th:replace="fragments/layout :: footer"></div>
        </div>

    </div>
</div>
</body>
</html>

