<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">

<head th:replace="fragments/layout :: head(#{create.blog})"></head>

<body>
<div class="menu-bar">
    <div th:replace="fragments/layout :: menubar(rootPath='blogs')"></div>
</div>

<div class="blog-update container">
    <h3 th:text="#{create.blog}"></h3>
    <form action="" method="post" th:object="${blog}" th:action="@{/blogs}">
<!--        <div class="mb-3">-->
<!--            <ul class="error-block" th:if="${#fields.hasErrors()}">-->
<!--                <li th:each="error: ${#fields.errors()}" th:text="${error}"></li>-->
<!--            </ul>-->
<!--        </div>-->
        <div class="form-floating">
        <textarea
                class="form-control"
                type="text"
                placeholder="please enter subject of Blog entry"
                rows="2"
                cols="40"
                id="floatingSubjectarea"
                th:field="*{subject}"
                th:errorclass="hasError"
                th:classappend="${#fields.hasErrors('subject')} ? 'is-invalid'"
                style="height: 50%; width: 50%"
        ></textarea>
            <label for="floatingSubjectarea" th:text="#{create.subject}"></label>
            <span th:if="${#fields.hasErrors('subject')}" th:errors="*{subject}" th:errorclass="hasError"></span>
            <br>
            <br>
        </div>

        <div class="form-floating">
        <textarea
                class="form-control"
                type="text"
                placeholder="please enter description of Blog entry"
                rows="20"
                cols="60"
                id="floatingTextarea"
                th:field="*{description}"
                th:errorclass="hasError"
                style="height: 50%; width: 50%"
        ></textarea>
            <label for="floatingTextarea" th:text="#{create.description}"></label>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:errorclass="hasError"></span>
        </div>

        <br>
        <br>

        <button type="submit" class="btn btn-primary" th:text="#{create.create-button}"></button>

        <a th:href="@{/public/blogs/list}" class="btn btn-primary" th:text="#{create.back-button}"></a>

    </form>
    <div class="footer text-center">
        <div th:replace="fragments/layout :: footer"></div>
    </div>
</div>
</body>
</html>