<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/language.js"></script>
    <title>List of Blogs</title>
</head>
<body>
<div class="alert alert-success" th:if="${messageSuccess ne null}">
    <span th:text="#{${messageSuccess}}" class="closebtn"
          onclick="this.parentElement.style.display='none';">&times;</span>
</div>
<div th:if="${not blogPage.hasContent()}">List is Empty</div>
<div th:if="${blogPage.hasContent()}">
    <div class="grid-container">
        <div class="menu-bar">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" th:href="@{/blogs/list/}" th:text="#{nav.home}"></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavAltMarkup"
                            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <div class="navbar-nav">
                                <a class="nav-link" th:href="@{/blogs/}" th:text="#{nav.create.blog}"></a>
                                <a class="nav-link" th:href="@{/public/blogs/list/}" th:text="#{nav.list}"></a>
                                <a class="nav-link" th:href="@{/public/users/register}" th:text="#{nav.register}"></a>
                                <a class="nav-link" th:href="@{/public/favorite}" th:text="#{nav.favorites}"></a>
                                <select class="nav-item dropdown btn-light" id="languageSelector">
                                    <option value="" th:text="#{lang.option}"></option>
                                    <option value="LT" th:text="Lietuvių"></option>
                                    <option value="US" th:text="English"></option>
                                </select>

                            </div>
                        </ul>
                        <form class="d-flex" method="GET" th:action="@{/public/blog-finder}">
                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="blogSubject">
                            <button class="btn btn-outline-success" type="submit">Search</button>
                        </form>
                        <form class="d-flex" th:action="@{/logout}">
                            <div class="btn-logout">
                                <button class="btn btn-success">LOGOUT</button>
                            </div>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
        <div class="content">
            <div class="filter">
                <div class="filter-header">
                    <h4 th:text="#{filter.header}"></h4>
                </div>
                <div class="filter-content">
                    <p>
                        <a class="btn btn-light"
                           th:with="direction=${blogPage.sort.getOrderFor('createDate')?.direction}"
                           th:href="@{/blogs/list(sort='createDate,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'} )}">
                            <span th:text="#{filter.created}"></span>
                            <i class="fa-solid"
                               th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-9-1' : 'fa-arrow-up-1-9'}"
                               th:if="${direction ne null}"></i>
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-light"
                           th:with=" direction=${blogPage.sort.getOrderFor('subject')?.direction}"
                           th:href="@{/blogs/list(sort='subject,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'}+ ',ignorecase' )}">
                            <span th:text="#{filter.subject}"></span>
                            <i class="fa-solid"
                               th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-z-a' : 'fa-arrow-up-a-z'}"
                               th:if="${direction ne null}"></i>
                        </a>
                    </p>
                    <p>
                        <a class="btn btn-light"
                           th:with="direction=${blogPage.sort.getOrderFor('author')?.direction}"
                           th:href="@{/blogs/list(sort='author,' + ${direction?.name() eq 'ASC' ? 'DESC' : 'ASC'}+ ',ignorecase' )}">
                            <span th:text="#{filter.author}"></span>
                            <i class="fa-solid"
                               th:classappend="${direction?.name() eq 'ASC' ? 'fa-arrow-down-z-a' : 'fa-arrow-up-a-z'}"
                               th:if="${direction ne null}"></i>
                        </a>
                    </p>
                </div>
            </div>
            <div class="blog-cards">
                <div th:each="blog: ${blogPage}">
                    <div class="card text-dark bg-light mb-3 zoom"
                         style="max-width: 18rem;max-height: 22rem;min-height: 22rem;">
                        <div class="card-body">
                            <h5 class="card-title">
                                <i>
                                    <a th:with="subject=${blog.getSubject()}"
                                       th:href="@{/blogs/{blogId}/view(blogId=${blog.getBlogId()})}"
                                       th:text="${subject.length() > 40} ? ${subject.substring(0, 40)} + ' ...' : ${subject}"
                                    >
                                    </a>
                                </i>
                            </h5>
                            <p class="card-text"
                               th:with="description=${blog.getDescription()}"
                               th:text="${description.length() > 240} ? ${description.substring(0, 240)} + ' ...' : ${description}"></p>
                            <div class="buttons absolute">
                                <form method="GET" th:action="@{/blogs/update}">
                                    <input type="hidden" name="blogId" th:value="${blog.getBlogId()}">
                                    <button class="btn btn-primary btn-xl" th:text="#{blogs.edit-button}"></button>
                                </form>

                                <form method="POST" th:action="@{/blogs/delete}">
                                    <input type="hidden" name="blogId" th:value="${blog.getBlogId()}">
                                    <button class="btn btn-danger btn-xl" th:text="#{blogs.delete-button}"
                                            th:onclick="return confirm('Are you sure you want to delete this item?')"></button>
                                </form>
                            </div>

                            <div class="card-bottom absolute">
                                <div class="left-side">
                                    <div class="create-date" style="justify-self: start;">
                                        <i th:text="${blog.getAuthor()}"></i>
                                        <p th:text="${blog.getCreateDate()}"></p>
                                    </div>
                                </div>
                                <div class="center">
                                    <form method="POST"
                                          th:action="@{/public/favorite/{blogId}(blogId=${blog.getBlogId()})}">
                                        <button class="btn btn-success">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                        </button>
                                    </form>
                                </div>
                                <div class="right-side">
                                    <i th:text="#{comments.totalComments} + ': ' + ${blog.getComments().size()}"></i>
                                    <br>
                                    <a th:href="@{/comments/{blogId}/comment(blogId=${blog.getBlogId()})}"
                                       th:text="#{comment.add}"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="total-elements">
            <p class="d-flex justify-content-center" th:text="'Total elements: ' + ${blogPage.totalElements}"></p>
            <br>
        </div>

        <div class="page-bar">
            <nav class="pages d-flex justify-content-center">
                <ul class="pagination"
                    th:with="
                    orderParam=${blogPage.sort.iterator().hasNext() ? blogPage.sort.iterator().next : null},
                    sortParam=${orderParam.property + ',' + orderParam.direction + ',ignorecase'}">
                    <li class="page-item"
                        th:classappend="${blogPage.hasPrevious() ? '' : 'disabled'}">
                        <a class="page-link"
                           th:href="@{/public/blogs/list(page=${blogPage.number} - 1,sort=${sortParam})}"
                           th:text="Previous"></a>
                    </li>

                    <li class="page-item"
                        th:each="pageNumber: ${#numbers.sequence(0, blogPage.totalPages - 1)}"
                        th:classappend="${pageNumber == blogPage.number ? 'active' : ''}">
                        <a class="page-link"
                           th:href="@{/public/blogs/list(page=${pageNumber},sort=${sortParam})}"
                           th:text="${pageNumber + 1}"></a>
                    </li>

                    <li class="page-item"
                        th:classappend="${blogPage.hasNext() ? '' : 'disabled'}">
                        <a class="page-link"
                           th:href="@{/public/blogs/list(page=${blogPage.number} + 1,sort=${sortParam})}"
                           th:text="Next"></a>
                    </li>
                </ul>
            </nav>
        </div>
        <br>
        <hr>
        <div class="footer">
            <footer>
                <p>Copyright © 2022 Dominykas<br>
            </footer>
        </div>

    </div>
</div>
</body>
</html>

